
body{
    background-image: linear-gradient(to right blue, white black);
}
#logo2{
    width: 10%;
    min-height: auto;
    margin-top: 5px;
    float: right;

}
#logo2:hover{
  width: 11%;
  min-height: auto;
  opacity: 0.7;
}


header{
    background-image: linear-gradient(to right,black, darkblue, black);
    width: 100%;
    min-height: 100px;
    padding: 10px;
}

.nav-item a{
    
    color: white;

}
.nav-item a:hover{
    font-size: 24px;
    color:	#B22222;
   
   

}
#menu{
   
    float: left;
    margin-top: 30px;
}
#carousel{
    width: 100%;
    min-height: 600px;
    margin-bottom: 20px;
}
#qtd{
    border: solid .5px darkgray ;
}
#saida{
    border-radius: 10px;
    color: black;
    background-color: #E0FFFF;
    margin-top: 10px;
}
h2{
    text-align: center;
}
h2:hover{
    color: blue;
    font-size: 30px;
    margin-bottom: 20px;

}
footer{
    background-image: linear-gradient(to right,black, darkblue, black);
    width: 100%;
    min-height: 100px;
    padding: 10px;

}
